@model EditOcjenaVM
@{ 
    Layout = null;
}
<form id="NovaOcjena">

    <div >
        <label>ID</label>
        </br>
        <input type="hidden" asp-for="studentPredmetID"   />
    </div>

    <div>
        <label> Predmeta</label>
        </br>
        <input asp-for="NazivPredmeta" disabled/>
    </div>
    <div>
        <label>Ocjena</label>
        </br>
        <select asp-for="ocjenaID" asp-items="Model.ocjene" ></select>
    </div>
    <div>
        <label>Student</label>
        </br>
        <input asp-for="ImeStudenta" disabled/>
    </div>
   

    <input type="button" value=" Snimi" onclick="SnimiOcjenu()"/>

</form>