@model predmetPrikazVM
@{

}




<table class="table">


    <thead>
    <th>ID</th>
     <th>Naziv</th>
     <th>Ocjena</th>
     <th>Student</th>
     <th>Brisi</th>
    

    </thead>

    <tbody>

        @foreach (predmetPrikazVM.Row s in Model.predmeti)
        {
            <tr>
                <td>@s.predmetID</td>
                <td>@s.Naziv</td>
                <td>@s.Ocjena</td>
                <td>@s.Student</td>
                 <td><a href="/Predmet/Obrisi?predmetID=@s.predmetID" style="color:firebrick"/>Obrisi</td>
                  <td><a href="/Predmet/Edit?predmetID=@s.predmetID"  style="color:forestgreen">Editun</a></td>
            </tr>

        }


    </tbody>

</table>

<button class="btn btn-danger" style="float:right" onclick="window.location='/Predmet/Edit'" >Dodaj Predmet</button>