@model List<StudentPredmetPrikaz>
@{
    Layout = null;
}

<table class="table table-striped">

    <thead>
    <th>ID</th>
    <th>Predmet</th>
    <th>Ocjena</th>
    <th>Datum polaganja</th>
    </thead>
    @foreach (StudentPredmetPrikaz sp in Model)
    {
        <tr>
            <td>@sp.studentPredmetID</td>
            <td>@sp.NazivPredmeta</td>
            <td>@sp.Ocjena</td>
            <td>@sp.Datum.ToString(format: "dd.MM.yyyy")</td>
        </tr>


    }


</table>
<button class="btn btn-danger" style="float:right" onclick="window.location='/Predmet/Edit'">Dodaj Predmet</button>




<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>